include jade/includes/Mixins
include js/adaptive-slider/jade/AdaptiveSlider

doctype html
html
    head
        title Acrostia
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width initial-scale=1.0")
        link(rel="stylesheet" href="styles.css")
        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,300,900,700" type="text/css")
    body

        //---------------------------------------------------------------------
        // SECTION [ HOME ]
        div.slider.section
            div.l-center
                // Header
                +Header({activePage: 'Home', withoutDivider: true})

            //- Slider block
            //-TODO: Во время загрузки страницы видны все content-блоки. Необходимо это исправить
            div#main-slider.slider-layout
                div.adaptive-slider(data-toggles="true" data-controls="false" data-autoswitch="false" class="adaptive-slider--active")
                    div.adaptive-slider__container
                        //- Slides list
                        ul.adaptive-slider__list
                            //- Slide 1
                            li#ms1.adaptive-slider__item(class="adaptive-slider__item--active")
                                img.adaptive-slider__image(src="images/slider-page1.jpg" alt="Slider image" width="100%")


                                // First inner slider
                                div.inner-slider.slider-layout
                                    div.adaptive-slider(data-toggles="false" data-controls="true" data-autoswitch="false" class="adaptive-slider--active")
                                        div.adaptive-slider__container
                                            ul.adaptive-slider__list
                                                // Slide 1
                                                li#is1s1.adaptive-slider__item(class="adaptive-slider__item--active")
                                                    div.adaptive-slider__content
                                                        p.adaptive-slider__content-left!= "<span class='text--uppercase'>Good ideas</span> comes"
                                                        p.adaptive-slider__content-right= "First!"

                                                // Slide 2
                                                li#is1s2.adaptive-slider__item
                                                    div.adaptive-slider__content
                                                        p.adaptive-slider__content-left!= "<span class='text--uppercase'>Bad ideas</span> comes"
                                                        p.adaptive-slider__content-right= "Last!"

                                                // Slide 3
                                                li#is1s3.adaptive-slider__item
                                                    div.adaptive-slider__content
                                                        p.adaptive-slider__content-left!= "<span class='text--uppercase'>Bad ideas</span> comes"
                                                        p.adaptive-slider__content-right= "Last!"

                                        div.adaptive-slider__controls

                                //- end of first inner slider

                            //- end of slide 1 in main slider

                            //- Slide 2
                            li#ms2.adaptive-slider__item(class="")
                                img.adaptive-slider__image(src="images/slider-page1.jpg" alt="Slider image" width="100%")

                                // Second inner slider
                                div.inner-slider.slider-layout
                                    div.adaptive-slider(data-toggles="false" data-controls="true" data-autoswitch="false" class="adaptive-slider--active")
                                        div.adaptive-slider__container
                                            ul.adaptive-slider__list
                                                // Slide 1
                                                li#is2s1.adaptive-slider__item(class="adaptive-slider__item--active")
                                                    div.adaptive-slider__content
                                                        p.adaptive-slider__content-left!= "<span class='text--uppercase'>Inner</span> slide 1"
                                                        p.adaptive-slider__content-right= "SL2"

                                                // Slide 2
                                                li#is2s2.adaptive-slider__item
                                                    div.adaptive-slider__content
                                                        p.adaptive-slider__content-left!= "<span class='text--uppercase'>Inner</span> slide 2"
                                                        p.adaptive-slider__content-right= "SL2"

                                                // Slide 3
                                                li#is2s3.adaptive-slider__item
                                                    div.adaptive-slider__content
                                                        p.adaptive-slider__content-left!= "<span class='text--uppercase'>Inner</span> slide 3"
                                                        p.adaptive-slider__content-right= "SL2"

                                                // Slide 4
                                                li#is2s4.adaptive-slider__item
                                                    div.adaptive-slider__content
                                                        p.adaptive-slider__content-left!= "<span class='text--uppercase'>Inner</span> slide 4"
                                                        p.adaptive-slider__content-right= "SL2"

                                        div.adaptive-slider__controls
                                //- end of second inner slider

                            //- end of slide 2 in main slider

                        //- Toggles. Create dynamically with JS
                        ul.adaptive-slider__toggles

                    //- Arrows. Create dynamically with JS
                    div.adaptive-slider__controls

        //---------------------------------------------------------------------
        // SECTION [ SERVICES ]
        div.section.section--services
            div.l-center
                // Header
                +Header({activePage: 'Services'})

                // Standard section's blocks
                div.section__title Our services
                div.section__title.section__title--subtitle Cras commodo mattis justo nec <span class="text--important">lobortis</span>. Nam ut tellus lobortis, ullamcorper massa sit amet
                div.section__description.section__description--services Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.

                // Services + layout container for flex
                div.l-services
                    +Service("--researching", "Researching")
                    +Service("--design",      "Design")
                    +Service("--development", "Development")
                    +Service("--launch",      "Launch")


        //---------------------------------------------------------------------
        // SECTION [ ABOUT ]
        div.section.section--about
            div.l-center
                // Header
                +Header({activePage: 'About'})

                // Standard section's blocks
                div.section__title Who we are & what we do
                div.section__description.section__description--about Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.

                div.section__l-button
                    div.button.button--big.button--triangle Meet the team

                // Team blocks + layout container for flex
                div.l-team
                    +TeamMember({photoName: 'user.png', name: 'Anton Petrov', title: 'General manager'})
                    +TeamMember({photoName: 'user.png', name: 'Kirl Donchev', title: 'Design master'})
                    +TeamMember({photoName: 'user.png', name: 'Ilian Bonev', title: 'Developer Ninja'})
                    +TeamMember({photoName: 'user.png', name: 'Doni Stamov', title: 'SEO guru'})


        //---------------------------------------------------------------------
        // SECTION [ WORKS ]
        div.section.section--work
            div.l-center
                // Header
                +Header({activePage: 'Work'})

                // Standard section's blocks
                div.section__title Our work
                div.section__description.section__description--work Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.

                // Filter for catalog
                div.filter
                    h2.filter__title Portfolio
                    ul.filter__options
                        li.filter__option All
                        li.filter__option.filter__option--active Photography
                        li.filter__option Logo design
                        li.filter__option Web design

                // Catalog
                div.l-catalog
                    +CatalogItem("Aenean a elit",       "catalog-item_1.png")
                    +CatalogItem("Aliquam",             "catalog-item_2.png")
                    +CatalogItem("Suspendisse libero",  "catalog-item_3.png")
                    +CatalogItem("Maecenas fringilla",  "catalog-item_4.png")
                    +CatalogItem("Donec vehicula",      "catalog-item_5.png")
                    +CatalogItem("Ut et sapien",        "catalog-item_6.png")
                    +CatalogItem("quis malesuada",      "catalog-item_7.png")
                    +CatalogItem("Vestibulum ante",     "catalog-item_8.png")

        //---------------------------------------------------------------------
        // SECTION [ CONTACTS ]
        div.section.section--contacts
            div.l-center
                // Header
                +Header({activePage: 'Contacts'})

                // Standard section's blocks
                div.section__title Contact us
                div.section__description.section__description--contacts Cras suscipit porttitor porttitor. Morbi sit amet tincidunt sapien. Curabitur posuere lectus aliquet erat rutrum sollicitudin. In enim diam, ullamcorper quis libero et, ultricies commodo est. Quisque at ante vitae justo fermentum viverra ac eu justo. Ut luctus imperdiet lacus, eget laoreet erat posuere quis.

                // Flex container for contacts and form
                div.l-contacts
                    // Contacts section
                    div.contacts
                        h2.contacts__title Address
                        // Split address section and map for two columns
                        div.l-flex-row
                            div.l-flex-2column
                                div.l-flex-column
                                    h3.contacts__firm-name Acrostia
                                    p.contacts__address Sevenoaks Rd
                                    p.contacts__address Sevenoaks TN14 7HR, UK
                                    p.l-dummy

                                    div.contacts__l-contacts-group
                                        table.contacts-group
                                            tr
                                                td.contacts-group__contact-type Phone:
                                                td.contacts-group__contact-value +44 555 555 555
                                            tr
                                                td.contacts-group__contact-type Fax:
                                                td.contacts-group__contact-value +44 556  555 555
                                            tr
                                                td.contacts-group__contact-type E-mail:
                                                td.contacts-group__contact-value <span class="text--email">info@acrostia.com</span>
                                            tr
                                                td.contacts-group__contact-type Skype:
                                                td.contacts-group__contact-value Ac0stia

                            div.l-flex-2column
                                img.contacts__map(src="images/contacts__map.png" alt="" width="260" height="220")

                    // Feedback form section
                    div.feedback
                        h2.feedback__title Ask a question
                        div.feedback__form
                            form(action="")
                                input.feedback__input(name="name" type="text" placeholder="Name")
                                input.feedback__input(name="email" type="text" placeholder="E-mail")
                                textarea.feedback__text(name="question" placeholder="Your question")
                                input.feedback__submit(type="submit" value="Send")

        //---------------------------------------------------------------------
        // SECTION [ FOOTER ]
        div.footer
            div.footer__socials.socials--big
                +Socials

        script(src="//code.jquery.com/jquery-2.1.4.min.js" defer)
        //script(src="js/vendor/jquery-2.1.4.js" defer)
        script(src="js/scroll.js" defer)
        script(src="js/adaptive-slider/js/slider.js" defer)


